<!-- RODAPÉ HOME -->
<div ng-if="isActive('/')">
    <div class="footer espacamento-top-footer">
        <div class="row">

            <!-- LOGOS -->
            <div class="small-12 medium-6 large-6 columns small-centered">

                <!-- REALIZAÇÃO -->
                <div class="small-5 columns logos">
                    <div class="small-12 columns border-top no-padding-left">
                        Realização
                    </div>
                    <div class="small-6 columns logo no-padding-left border-bottom">
                        <img src="img/logo_sosma_footer.png" alt="" />
                    </div>
                    <div class="small-6 columns logo no-padding-left no-padding-right border-bottom text-right">
                        <img src="img/logo_inpe_footer.png" alt="" />
                    </div>
                </div>
                <!-- / REALIZAÇÃO -->

                <!-- PATROCÍNIO -->
                <div class="small-3 columns logos">
                    <div class="small-12 columns text-left border-top no-padding-left">
                        Patrocínio
                    </div>
                    <div class="small-12 columns text-center logo no-padding-left no-padding-right border-bottom">
                        <img src="img/logo_bradesco_footer.png" alt="" />
                    </div>
                </div>
                <!-- / PATROCÍNIO -->

                <!-- DESENVOLVIMENTO -->
                <div class="small-4 columns logos">
                    <div class="small-12 columns text-left border-top no-padding-left">
                        Desenvolvimento
                    </div>
                    <div class="small-12 columns text-center logo no-padding-left no-padding-right border-bottom">
                        <img src="img/logo_arcplan_footer.png" alt="" />
                    </div>
                </div>
                <!-- / DESENVOLVIMENTO -->

            </div>
            <!-- / LOGOS -->

        </div>
    </div>
</div>
<!-- / RODAPÉ HOME -->









<!-- RODAPÉ INTERNA -->
<div ng-if="!isActive('/')">
    <div class="footer interna espacamento-top">
        <div class="row">

            <!-- LOGOS -->
            <div class="small-12 medium-6 large-6 columns">

                <!-- REALIZAÇÃO -->
                <div class="small-5 columns logos">
                    <div class="small-12 columns border-top no-padding-left">
                        Realização
                    </div>
                    <div class="small-6 columns logo no-padding-left border-bottom">
                        <img src="img/logo_sosma_footer.png" alt="" />
                    </div>
                    <div class="small-6 columns logo no-padding-left no-padding-right border-bottom text-right">
                        <img src="img/logo_inpe_footer.png" alt="" />
                    </div>
                </div>
                <!-- / REALIZAÇÃO -->

                <!-- PATROCÍNIO -->
                <div class="small-3 columns logos">
                    <div class="small-12 columns text-left border-top no-padding-left">
                        Patrocínio
                    </div>
                    <div class="small-12 columns text-center logo no-padding-left no-padding-right border-bottom">
                        <img src="img/logo_bradesco_footer.png" alt="" />
                    </div>
                </div>
                <!-- / PATROCÍNIO -->

                <!-- DESENVOLVIMENTO -->
                <div class="small-4 columns logos">
                    <div class="small-12 columns text-left border-top no-padding-left">
                        Desenvolvimento
                    </div>
                    <div class="small-12 columns text-center logo no-padding-left no-padding-right border-bottom">
                        <img src="img/logo_arcplan_footer.png" alt="" />
                    </div>
                </div>
                <!-- / DESENVOLVIMENTO -->

            </div>
            <!-- / LOGOS -->


            <!-- MENU -->
            <div class="small-12 medium-6 large-6 columns menu hide-for-small">
                <ul class="inline-list">
                    <li><a href="como-funciona.html">Como Funciona?</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                    <li><a href="index.html">Nova Pesquisa</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="termos-de-uso.html">Termos de Uso</a></li>
                </ul>
            </div>
            <!-- / MENU -->



        </div>
    </div>
</div>
<!-- / RODAPÉ INTERNA -->
